h1{
    text-align:center;
}
p{
    margin-top:10px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:10px;
   
}
p{
    background-image: url('img11.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    margin: 0.5;
}
a{
    margin-top:0px;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:0px;

}